.slider {
    height: 20px;
    width: 100px;
    background-color: var(--inlay-color);
    cursor: url('../../assets/icons/hand_pointing@2x.png') 8 0, auto;
}

.slider-text {
    position: absolute;
    text-align: center;
    user-select: none;
    pointer-events: none;

    color: var(--primary-text);
}

.slider-fill {
    height: 20px;
    background-color: var(--secondary-color);
}