.editor-page {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--main-color);
}

.editor-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;

    min-height: 0;
}

.editor-page-editors {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 12px;

    min-height: 0;
}

.editors {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}