.dialog {
  position: absolute;
  margin: 4px 4px 6px 4px;
  box-shadow: 0 0 0 2px var(--border-light), 0 2px 0 2px var(--border-color),
  0 0 0 4px var(--border-dark), 0 2px 0 4px var(--border-dark);
  background-color: var(--secondary-color);
  white-space: nowrap;
}

.dialog-title {
  width: calc(100% - 8px);
  background-color: var(--main-color);
  padding: 2px 2px 2px 6px;

  display: flex;
  justify-content: space-between;
}

.dialog-content {
  padding: 6px;
}