.dialog-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  margin: 4px 4px 6px 4px;
  box-shadow: 0 0 0 2px var(--border-light), 0 2px 0 2px var(--border-color),
  0 0 0 4px var(--border-dark), 0 2px 0 4px var(--border-dark);
  background-color: var(--main-color);
  padding: 6px;
}