:root {
    --main-color: #81919d;
    --secondary-color: #d3cbbe;
    --inlay-color: #625660;
    --error-color: #ff4444;

    --text-primary: #000000;
    --text-secondary: #2c2f31;
    --text-link: #0017ff;

    --icon-color: #000000;

    --button-color: #c6c6c6;
    --button-hover: #ffffff;
    --button-selected: #ffffff;

    --border-dark: #000000;
    --border-color: #61555f;
    --border-light: #b3c9dc;
}

.scene {
    --border-light: #ffffff;
    --border-color: #ffffff;
}

.button {
    --border-light: #ffffff;
}

.picker:before {
    background: none;
}
.slider:before {
    background: none;
}