:root {
    --main-color: #ededf3;
    --secondary-color: #e4e5f1;
    --inlay-color: #bababc;
    --scene-color: var(--inlay-color);
    --error-color: #ff4444;

    --text-primary: #000000;
    --text-secondary: #4e4e4e;
    --text-link: #4393de;

    --icon-color: #000000;

    --status-color: #4393de;

    --button-color: var(--secondary-color);
    --button-hover: var(--secondary-color);
    --button-select: #9eb8ff;
    --button-outline-hover: #777777;
    --button-outline-select: #00258a;

    --border-dark: #000000;
    --border-color: var(--secondary-color);
    --border-light: var(--secondary-color);
}

.palette, .editor-scene {
    background: repeating-conic-gradient(var(--inlay-color) 0% 25%, #b7b7b7 0% 50%) 50% / 32px 32px !important;
}

.menu-item:not(.disabled):hover, .menubar-item:hover {
    background-color: #f1f8a9;
}

.button.active {
    --icon-color: #ffffff;
}