.menubar {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.menubar-item {
  height: 100%;
  overflow: visible;
  padding: 0 6px;
  line-height: 20px;

  > div {
    position: absolute;
  }

  &:hover {
    background-color: var(--secondary-color);
  }

  &:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}