.editor-sidebar {
    display: flex;
    flex-direction: column;
    width: 34px;
    gap: 12px;

    margin-top: 28px;

    &:has(.picker-container) {
        flex: 1;
        min-width: 68px;
        max-width: 120px;
        margin-top: 0;
    }
}

.palette-container {
    flex: 1;
}

.picker-container {
    width: 100%;
    aspect-ratio: 2 / 3;
}

.editor-center {
    flex: 5;
    display: flex;
    flex-direction: column;
    
    min-width: 0;
    min-height: 0;
}

.editor-tabs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 2px 2px 0 2px;
    margin: 0 8px;
}

.editor-tab {
    background: var(--secondary-color);
    display: flex;
    gap: 10px;
    padding: 4px;
    white-space: nowrap;

    box-shadow: 2px 0 0 0 var(--border-dark), -2px 0 0 0 var(--border-dark),0 -2px 0 0 var(--border-dark);

    &:not(.active) {
        background-color: var(--border-color);
    }
}

.editor-scene {
    position: relative;
    flex: 1;
    background: var(--scene-color, var(--inlay-color));
    isolation: isolate;

    min-width: 0; // VERY IMPORTANT!
    min-height: 0;
}

.editor-scene-canvas {
    width: 100%;
    height: 100%;
}